---
layout: default
title: Documentation
permalink: /docs/
---

<hr>

<h2>Misc</h2>

<ul>
    <li><a href="{{ '/docs/command-line-parameters/' | relative_url }}">Command line parameters</a></li>
    <li><a href="{{ '/docs/macros/' | relative_url }}">Macros</a></li>
</ul>

<hr>

<h2>Guides</h2>

<div class="columns is-multiline">
    {% for group in site.data.navigation.sidebars.manual %}
    <div class="column is-one-quarter my-4">
        <h3>{{group.title}}</h3>

        <ul>
            {% for item in group.items %}
            <li>
                {% if item.url %}
                <a href="{{item.url | relative_url}}">{{item.title}}</a>
                {% else %}
                {{item.title}}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

<hr>

<h2>Variables</h2>

<div class="columns is-multiline">
    {% for group in site.data.ezquake.help_variables_tree %}
    <div class="column is-one-quarter my-4">
        <h3>
            {{group[1].title}}
        </h3>
        <ul>
            {% for item in group[1].items %}
            <li>
                {% if item.url %}
                <a href="{{item.url | relative_url}}">{{item.title}}</a>
                {% else %}
                {{item.title}}
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>
