---
layout: default
title: Features
tab: Features
---

<p class="subtitle">ezQuake combines the best features of modern QuakeWorld® clients</p>

{% for feature in site.data.ezq.features %}

<hr class="my-6">

<div class="block">
    <div class="media columns is-vcentered">
        <div class="media-content">
            <h2 id="{{ feature.title | slugify }}">{{ feature.title }}</h2>
            <div>{{ feature.description }}</div>

            {% assign feature_images = site.data.media.screenshots | where: "feature", feature.title | sort: "title" %}
            {% if feature_images %}
            <div class="app-gallery">
                {% for image in feature_images %}
                <a href="{{site.url}}/assets/img/screenshots/{{image.filename}}" title="{{image.title}}">
                    <img src="{{site.url}}/assets/img/screenshots/{{image.filename | replace: '.jpg', '.thumb.jpg'}}" />
                    {{image.title}}
                </a>
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endfor %}


<link rel="stylesheet" href="{{site.url}}/assets/css/simpleLightbox.min.css">
<script src="{{site.url}}/assets/js/simpleLightbox.min.js"></script>
<script type="text/javascript">
    new SimpleLightbox({ elements: '.app-gallery a' });
</script>
