<aside class="menu">
    {% for group in site.data.navigation.sidebars.manual %}
    <p class="menu-label">
        {{group.title}}
    </p>
    <ul class="menu-list">
        {% for item in group.items %}
        <li>
            {% if item.url %}
            <a href="{{item.url | relative_url}}">{{item.title}}</a>
            {% else %}
            {{item.title}}
            {% endif %}

            {% if item.items %}
            <ul>
                {% for subitem in item.items %}
                    <li><a href="{{subitem.url | relative_url}}">{{subitem.title}}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}
</aside>

