<aside class="menu">
    <p class="menu-label">
        Configuration
    </p>
    <ul class="menu-list">
        <li><a href="{{'docs/guides/hud/' | relative_url}}">Heads-up display</a></li>
        <li><a href="{{'docs/guides/crosshairs/' | relative_url}}">Crosshairs</a></li>
        <li><a href="{{'docs/guides/frag-tracker/' | relative_url}}">Frag tracker</a></li>
        <li><a href="{{'docs/guides/external-textures/' | relative_url}}">Customising textures</a></li>
        <li><a href="{{'docs/guides/fonts/' | relative_url}}">Fonts/charsets</a></li>
        <li><a href="{{'docs/guides/weapon-scripts/' | relative_url}}">Weapon scripts</a></li>
    </ul>
    <p class="menu-label">
        Features
    </p>
    <ul class="menu-list">
        <li><a href="{{'docs/guides/voice-support/' | relative_url}}">Voice communication</a></li>
        <li><a href="{{'docs/guides/multiview/' | relative_url}}">Multiview demo playback</a></li>
        <li><a href="{{'docs/guides/demo-capture/' | relative_url}}">Capturing video</a></li>
        <li><a href="{{'docs/guides/graphics/' | relative_url}}">Graphics options</a></li>
        <li><a href="{{'docs/guides/message-filtering/' | relative_url}}">Message filtering</a></li>
        <li><a href="{{'docs/guides/scripting/' | relative_url}}">Scripting</a></li>
    </ul>
    <p class="menu-label">
        Teamplay
    </p>
    <ul class="menu-list">
        <li><a href="{{'docs/guides/player-skins/' | relative_url}}">Player skins</a></li>
        <li><a href="{{'docs/guides/colored-text/' | relative_url}}">Rules for colored text</a></li>
        <li><a href="{{'docs/guides/macros/' | relative_url}}">Macros</a></li>
        <li><a href="{{'docs/guides/tp-pointing/' | relative_url}}">Pointing</a></li>
    </ul>
    <p class="menu-label">
        Networking
    </p>
    <ul class="menu-list">
        <li><a href="{{'docs/guides/independent-physics/' | relative_url}}">Independent physics</a></li>
        <li><a href="{{'docs/guides/server-browser/' | relative_url}}">Server Browser</a></li>
    </ul>
    <p class="menu-label">
        Changelogs
    </p>
    <ul class="menu-list">
        <li>
            <a href="{{'docs/guides/changelog-3.2/' | relative_url}}">Version 3.2</a>
            <ul>
                <li><a href="{{'docs/guides/changelog-3.2.2/' | relative_url}}">3.2.2</a></li>
            </ul>
        </li>
        <li><a href="{{'docs/guides/changelog-3.1/' | relative_url}}">Version 3.1</a></li>
        <li>
            <a href="{{'docs/guides/changelog-3.0/' | relative_url}}">Version 3.0</a>
             <ul>
                <li><a href="{{'docs/guides/changelog-3.0.1/' | relative_url}}">3.0.1</a></li>
            </ul>
        </li>
    </ul>
    <p class="menu-label">
        Guides
    </p>
    <ul class="menu-list">
        <li><a href="{{'docs/guides/upgrade-from-2.2/' | relative_url}}">Upgrading from 2.2</a></li>
    </ul>

    <p class="menu-label">
        Reference (console variables)
    </p>
    <ul class="menu-list">
        <li><a href="{{'docs/demos/' | relative_url}}">Demo playback</a></li>
        <li><a href="{{'docs/graphics/' | relative_url}}">Graphics</a></li>
        <li><a href="{{'docs/hud/' | relative_url}}">Heads-up display</a></li>
        <li><a href="{{'docs/input/' | relative_url}}">Controls</a></li>
        <li><a href="{{'docs/multiplayer/' | relative_url}}">Multiplayer</a></li>
        <li><a href="{{'docs/sound/' | relative_url}}">Audio</a></li>
        <li><a href="{{'docs/teamplay/' | relative_url}}">Teamplay settings</a></li>
        <li><a href="{{'docs/miscellaneous/' | relative_url}}">Miscellaneous</a></li>
        <li><a href="{{'docs/server/' | relative_url}}">Server settings</a></li>
    </ul>

    <p class="menu-label">
        Internal help/manual (very old)
    </p>
    <ul class="menu-list">
        <li><a href="{{'docs/manual/cmdline/' | relative_url}}">Command line</a></li>
        <li><a href="{{'docs/manual/commands/' | relative_url}}">Commands and variables</a></li>
        <li><a href="{{'docs/manual/dm2/' | relative_url}}">DM2: Claustrophobopolis</a></li>
        <li><a href="{{'docs/manual/dm3/' | relative_url}}">DM3: The Abandoned Base</a></li>
        <li><a href="{{'docs/manual/dm6/' | relative_url}}">DM6: The Dark Zone</a></li>
        <li><a href="{{'docs/manual/e1m2/' | relative_url}}">E1M2: Castle of the Damned</a></li>
        <li><a href="{{'docs/manual/e3m7/' | relative_url}}">E3M7: The Haunted Halls</a></li>
        <li><a href="{{'docs/manual/external_resources/' | relative_url}}">External resources</a></li>
        <li><a href="{{'docs/manual/structure/' | relative_url}}">Files and structure</a></li>
        <li><a href="{{'docs/manual/faq/' | relative_url}}">Frequently Asked Questions</a></li>
        <li><a href="{{'docs/manual/important_commands/' | relative_url}}">Important commands</a></li>
        <li><a href="{{'docs/manual/welcome/' | relative_url}}">introduction</a></li>
        <li><a href="{{'docs/manual/items/' | relative_url}}">Items</a></li>
        <li><a href="{{'docs/manual/maps/' | relative_url}}">Maps</a></li>
        <li><a href="{{'docs/manual/ping_lag/' | relative_url}}">Ping and lag</a></li>
        <li><a href="{{'docs/manual/qizmo/' | relative_url}}">Qizmo</a></li>
        <li><a href="{{'docs/manual/history/' | relative_url}}">Quake history</a></li>
        <li><a href="{{'docs/manual/etiquette/' | relative_url}}">QuakeWorld etiquette</a></li>
        <li><a href="{{'docs/manual/jumping/' | relative_url}}">QuakeWorld jumping</a></li>
        <li><a href="{{'docs/manual/quick/' | relative_url}}">Quick guide</a></li>
        <li><a href="{{'docs/manual/scripts/' | relative_url}}">Scripts</a></li>
        <li><a href="{{'docs/manual/server/' | relative_url}}">Server manual</a></li>
        <li><a href="{{'docs/manual/teamplay/' | relative_url}}">Teamplay manual</a></li>
        <li><a href="{{'docs/manual/concept/' | relative_url}}">The concept of the game</a></li>
        <li><a href="{{'docs/manual/video/' | relative_url}}">Video settings</a></li>
        <li><a href="{{'docs/manual/what_qw/' | relative_url}}">What is QuakeWorld?</a></li>
        <li><a href="{{'docs/manual/links/' | relative_url}}">Where is the Quake World?</a></li>
    </ul>
</aside>
