<table class="table is-striped">
    <thead>
        <tr class="dl-row header">
            <th>Operating System</th>
            <th>Version</th>
            <th>Date</th>
            <th>Full install</th>
            <th>Upgrade (exe only)</th>
        </tr>
    </thead>
    <tbody>
    <tr>
        <td>Windows</td>
        <td>3.2.2</td>
        <td>22nd September 2020</td>
        <td><a
            href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.2/ezquake-win32-3.2.2-full.zip"><span
            class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (19.3MB)</a></td>
        <td><a href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.2/ezquake-win32-3.2.2.zip"><span
            class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (2.1MB)</a></td>
    </tr>
    <tr>
        <td>MAC OSX 10.15</td>
        <td>3.2.2</td>
        <td>22nd September 2020</td>
        <td><a
            href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.2/ezquake-osx10.15.5-xcode11.6-3.2.2-full.zip"><span
            class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (19.2MB)</a></td>
        <td><a
            href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.2/ezquake-osx10.15.5-xcode11.6-3.2.2.zip"><span
            class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (1.96MB)</a></td>
    </tr>
    <tr>
        <td>Linux (64-bit)</td>
        <td>3.2.2</td>
        <td>22nd September 2020</td>
        <td><a
            href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.2/ezquake-ubuntu-3.2.2-full.tar.gz"><span
            class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (18.2MB)</a></td>
        <td><a
            href="https://github.com/ezQuake/ezquake-source/releases/download/3.2.2/ezquake-ubuntu-3.2.2.tar.gz"><span
            class="glyphicon glyphicon-download-alt" aria-label="Download"></span> (1.07MB)</a></td>
    </tr>
    </tbody>
</table>
