{% for group in include.groups %}
    <h2 id="{{group.slug}}">{{group.title}}</h2>

    {% for item in group.items %}
        <div>
            <h3 class="title is-5"><code>{{ item.name }}</code></h3>
            <p>({{ item.type }}) {{ item.desc }}</p>

            {% if item.type != "boolean" and item.values %}
            <ul>
                {% for val in item.values %}
                    <li><strong>{{val.name}}</strong>: {{ val.description | escape }}</li>
                {% endfor %}
            </ul>
            {% endif %}

            {% if item.remarks %}
            <blockqoute>{{item.remarks | escape}}</blockqoute>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
{% endfor %}
