---
---
footer.footer {
  border-top: 1px solid #ddd;
}


header {
  background-color: #363636;
}

#app-splash-outer {
  background: #000 url(../img/screenshots/armor_battle.jpg);
  background-size: contain;
}

#app-splash-inner {
  background: linear-gradient(to right, #000 25%, rgba(0, 0, 0, 0));

  .hero {
    background: none;
    text-shadow: black 1px 1px;

    h1, h2 {
      color: gold;
    }
  }
}
