---
---

footer.footer {
  border-top: 1px solid #ddd;
}


header {
  background-color: #363636;
}

#app-splash {
  background: #000 url('../img/screenshots/armor_battle.jpg');
  background-size: contain;
  height: 400px;
}
