<div id="qwnetwork">
        <div id="qwnet_content">
            <a href="https://www.nquake.com/" title="nQuake - Download QuakeWorld today!" id="qwnet_nquake"></a>
            <a href="https://www.ezquake.com/" title="ezQuake - The best QW client" id="qwnet_ezquake" class="qwnet_current"></a>
            <div class="qwnet_separator">&nbsp;</div>
            <a href="https://www.quakeworld.nu/" title="QuakeWorld.nu - Your portal to everything Quake" id="qwnet_qwnu"></a>
            <a href="https://www.quakeworld.nu/forum/" title="QW.nu Forum - Discuss anything QW-related" id="qwnet_forums"></a>
            <a href="https://qwdrama.quakeworld.nu/" title="qwdrama - News, tutorials, interviews, drama and more" id="qwnet_qwdrama"></a>
            <div class="qwnet_separator">&nbsp;</div>
            <a href="https://eql.quakeworld.nu/" title="EQL - European Quake League" id="qwnet_eql"></a>
            <div class="qwnet_separator">&nbsp;</div>
            <a href="https://www.quakeworld.nu/wiki/Overview" title="QuakeWorld Wiki - The open QW encyclopedia" id="qwnet_wiki"></a>
            <a href="https://www.quakeservers.net/quakeworld/servers/pl=1/so=8/" title="QuakeServers.net - QW server listings and info" id="qwnet_quakeservers"></a>
            <a href="http://stats.quakeworld.nu/" title="QuakeWorld Statistics - QW statistics, ranking systems and more." id="qwnet_stats"></a>
            <a href="https://www.badplace.eu/" title="QuakeTV - Watch QW now!" id="qwnet_qtv"></a>
            <div class="qwnet_separator">&nbsp;</div>
            <a href="https://gfx.quakeworld.nu/" title="QuakeWorld GFX - Download custom graphics" id="qwnet_gfx"></a>
            <div id="qwnet_clearer">&nbsp;</div>
        </div>
    </div>
<div id="header_wrap">
    <header class="inner">
        <a id="forkme_banner" href="https://github.com/ezQuake/ezQuake-source">View on GitHub</a>
        <h1 id="project_title">ezQuake</h1>
    </header>
</div>
