<main>
    {% if page.tab %}
    {% include layout/tabs.html %}
    {% endif %}

    <div class="container">
        <section class="section">
            {% if page.sidebar or page.url contains "/docs/" %}
            <div class="tile is-ancestor">
                <div class="tile is-parent is-3">
                    <div class="tile is-child">
                        {% include sidebars/manual.html %}
                    </div>
                </div>
                <div class="tile is-parent">
                    <div class="tile is-child">
                        <div class="content">
                            {{ content }}
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="content">
                {{ content }}
            </div>
            {% endif %}
        </section>
    </div>
</main>
