<div id="app-splash-outer">
    <div id="app-splash-inner">
        <div class="container">

            <section class="hero is-dark">
                <div class="hero-body">

                    <div class="columns is-vcentered">
                        <div class="column is-half">
                            <h1 class="title">
                                ezQuake
                            </h1>
                            <h2 class="subtitle is-size-5">
                                Combining the best features of modern QuakeWorld® clients
                            </h2>

                            <div class="block is-size-5	">
                                Experience the immortal first person shooter Quake® in a brand new skin with
                                superb graphics and extremely fast gameplay.
                            </div>
                        </div>

                        <div class="column is-narrow">
                            <div id="app-features-link-wrapper">
                                <a href="{{ '/features/' | relative_url }}" id="app-features-link">
                                    <span>View features <i class="fa fa-fw fa-chevron-right"></i></span>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
